.u-box--shadow {
  box-shadow: 0 0 $base-spacing 0px $shadow-color;
}
.u-box--shadow-dark {
  box-shadow: 0 0 $base-spacing 0px $shadow-dark-color;
}
.u-box--no-border {
  border: none !important;
}
.u-box--no-background {
  background: none !important;
}
.u-box--bg-primary {
  background-color: $primary-color;
}
.u-box--base-padding {
  padding: $base-spacing;
}
.u-box--no-padding {
  padding: 0 !important;
}