.u-btn-info {
  background-color: $info-color;
  color: $secondary-color;
  &:hover, &:focus {
    background-color: lighten($info-color, 5%);
  }
}
.u-btn-success {
  background-color: $success-color;
  color: $secondary-color;
  &:hover, &:focus {
    background-color: lighten($success-color, 5%);
  }
}
.u-btn-error {
  background-color: $error-color;
  color: $secondary-color;
  &:hover, &:focus {
    background-color: lighten($error-color, 5%);
  }
}