.u-chart-full-width-fix {
  width: 99% !important;
}
.u-no-margins {
  margin: 0 !important;;
}

// Reset Materialize sidebar stiles
.sidenav li {
  > a {
    color: inherit !important;
    padding: 0 !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    display: block;
    height: 30px !important;
    line-height: 1 !important;

    &:hover {
      background-color: transparent;
    }

    > i.material-icons {
      float: inherit !important;
      height: inherit !important;
      line-height: inherit !important;
      margin: inherit !important;
      width: inherit !important;
      color: inherit !important;
    }
  }
}

// Materialize dropdown
.input-field {
  margin-top: 0;

  .select-wrapper input.select-dropdown {
    height: 33px;
  }
}

// Materialize float button 
.btn-floating.btn-large i {
  line-height: 47px;
}