.u-hide--lg {
  display: block;
  @media (max-width: $brakpoint-lg - 1) {
    display: none;
  }
}
.u-show--lg {
  display: none;
  @media (min-width: $brakpoint-lg) {
    display: block;
  }
}
.u-hide--md {
  display: block;
  @media (min-width: $brakpoint-md) {
    display: none;
  }
}
.u-show-from--md {
  display: none;

  @media (min-width: $brakpoint-md) {
    display: block;
  }
}
.u-show--md {
  @media (max-width: $brakpoint-md) {
    display: block;
  }
}