// Sizes
.u-text-sm {
  font-size: $font-sm !important;
}
.u-text-bold {
  font-weight: 600 !important;
}

// colors
.u-text-inverse-color {
  color: $inverse-color !important;
}
.u-text-success {
  color: $success-color !important;
}
.u-text-error {
  color: $error-color !important;
}

// spacing
.material-icons {
  transform: translate(0px, 5px) !important;
}

// Positioning
.u-text-right {
  text-align: right !important;
}
.u-text-center {
  text-align: center !important;
}