// Spacing
.u-margin-top {
  margin-top: $base-spacing;
}
.u-margin-right {
  margin-right: $base-spacing;
}
.u-margin-bottom {
  margin-bottom: $base-spacing;
}
.u-margin-left {
  margin-left: $base-spacing;
}