
//-------------//
//    FONTS    //
//-------------//
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$base-font-size: .8rem;
$font-sm: .6rem;
$font-lg: 1rem;
$base-font-family: 'Lato', sans-serif;
// $base-font-family: 'Roboto', sans-serif;

//---------------//
//    SPACERS    //
//---------------//
$base-spacing: 15px;

//---------------------//
//    LAYOUT  COLORS   //
//---------------------//
$primaryColor: rgba(12,24,39,1); 
$secondaryColor: rgba(23,41,69,1); 
$terciaryColor: rgba(0, 100, 148,1); 

//---------------------//
//    BUTTONS COLORS   //
//---------------------//
$info-color: #6363ff;
$success-color: green;
$error-color: rgb(216, 57, 29);

$primary-color: #0e4580;
$secondary-color: white;
$inverse-color: white;
$disabled-color: #dedede;
$focused-color: #bebdbd;
$border-color: $primary-color;
$hover-color: #f3f3f3;
$shadow-color: #cecece;
$shadow-dark-color: #808080;
$border-color: $primary-color;

//-------------------------------//
//    RESPONSIVE BREAK POINTS    //
//-------------------------------//
$brakpoint-lg: 1200px;
$brakpoint-md: 900px;
