.o-card {
  margin: $base-spacing;
  background-color: white;

  .o-card__inner {
    padding: $base-spacing * 2;
    width: 100%;
    box-sizing: border-box;

    .o-card__header {
      padding: $base-spacing 0;
    }

    .o-card__body {
      padding: $base-spacing 0;
      width: 100%;
    }

    .o-card__footer {
      padding: $base-spacing 0;
      display: flex;
      flex-direction: row;
    }
  }

  &.o-card__media {
    .o-card__inner {
      padding: 0; 

      .o-card__header, .o-card__body, .o-card__footer {
        padding: $base-spacing * 2;
      }
    }
  }
}