.o-grid {
  display: grid;
  
  &.grid--four-columns {
    grid-template-columns: repeat(4, auto) ;
  }
}

.o-flex-box {
  display: flex;

  &.c-flex-box--justify-between {
    justify-content: space-between;
  }

  &.o-flex-box--cross-center {
    align-items: center;
  }

  &.o-flex-box--main-center {
    justify-content: center;
  }

  .o-flex-box__right {
    margin-left: auto;
  }
}

.o-float-box {
  overflow: hidden;

  .o-float-box--col-4 {
    float: left;
    width: calc(25% - #{$base-spacing * 2});
  }
}