.SideBarMenu.SideBarMenu {
  a {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-weight: 600;
    padding: 19px !important;
    height: auto !important;

    img {
      width: 28px;
      margin-right: 10px;
    }

    span {
      font-size: 25px;
      font-weight: 500;
    }
  }
}