.c-body{
    grid-template-areas:
        "body-nav body-nav "
        "body-aside body-main"
        "body-footer body-footer";
    grid-template-rows: 1fr 10fr 50px;
    grid-template-columns: auto 1fr;
    width: 100%;
    height: 100vh;
}

