.c-btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: .7rem;

  &.c-btn--sm {
    padding: 4px 8px;
  }
  
  &.c-btn--md {
    padding: 10px 20px;
    font-weight: 600;
  }

  &.c-btn--full-width {
    width: 100%;
  }
}