.c-login-card {
  width: 300px;
}

.c-tile-card {
  flex: 1;

  .c-tile-card__title {
    font-size: 23px;
    margin: 10px 0;
  }
  .c-tile-card__sub-title {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
  }
}