.charts-container {
  display: grid;
  grid-template-areas: 
  'filters filters'
  'chart1 chart3'
  'chart2 chart2';
  grid-template-rows: 85px 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap:15px;    
}

.charts-filters {
  grid-area: filters;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:5px;    
  padding: 5px 15px;
  background-color: $secondaryColor;
  .charts-filters-wrapper {
    margin-right: 15px;
    .charts-filters-tittle{
      color:white;
      font-size: 1em;
      margin-bottom: 15px;
    }
    .charts-filters-input {
      max-width: 70px;
      min-width: 50px;
      color:white;
      margin-right: 15px;
    }
    .charts-filters-tittle--bottom {
      margin-bottom: 0;
    }
  }

  .select-dropdown {
    color: white;  
	}
}

.chart-item {
  display: grid;
  .chart-title {
      justify-self: center;
      margin-bottom: 15px;
  }
}

.chart-item-1 {
  grid-area: chart1;
}

.chart-item-2 {
  grid-area: chart2; 
}

.chart-item-3 {
  grid-area: chart3;
}

.chart-item-4 {
  grid-area: chart4;
}