.c-form-float {
  .c-form__input-group {
    position:relative; 
    margin-bottom:20px;

    .c-float-label {
      color: $focused-color;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 18px;
      transition: 0.2s ease all; 
      -moz-transition: 0.2s ease all; 
      -webkit-transition: 0.2s ease all;
    }

    .c-float-input, .c-float-select {
      font-size: 14px;
      display: block;
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $disabled-color;

      &:focus {
        outline: none;
        border-bottom: 2px solid $disabled-color;
        margin-bottom: -1px;
      }
    }

    .c-float-select {
      padding-top: 15px;
    }

    .c-float-input {
      height: 2rem;
      padding-top: 10px;
      
      &:focus ~ label, &:not(:placeholder-shown) ~ label {
        top: 0;
        font-size: $font-sm;
      }
    }

    .c-float-select {
      &:focus ~ label , &:not([value=""]):valid ~ label {
        top: -2px;
        font-size: $font-sm;
      }
    }

    small {
      position: absolute;
      bottom: -16px;
      font-size: 12px;
      color: $error-color;
    }

    .c-form__input-icon {
      position: absolute;
      top: 9px;
      right: 0px;
      color: #949494;
      cursor: pointer;

      &:hover {
        color: #6363ff;
      }
    }
  }
}

//----------------//
//    CHECKBOX    //
//----------------//
.c-checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .c-checkbox__input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .c-checkbox__checkmark {
      background-color: $info-color;

      &:after {
        display: block;
      }
    }
  }

  .c-checkbox__checkmark {
    margin-right: 10px;
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: $disabled-color;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover .c-checkbox__input:not(:checked) ~ .c-checkbox__checkmark {
    background-color: $focused-color;
  }

  //----------------------//
  //    Checkbox sizes    //
  //----------------------//
  .c-checkmark--sm {
    height: 20px;
    width: 20px;
  
    &:after {
      width: 3px;
      height: 8px;
      left: 8px;
      top: 3px;
    }
  }
  .c-checkmark--lg {
    height: 30px;
    width: 30px;

    &:after {
      width: 7px;
      height: 14px;
      left: 11px;
      top: 4px;
    }
  }
}

//-----------------------//
//    Checkbox switch    //
//-----------------------//
.c-checkbox-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  line-height: 27px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .c-checkbox-switch__slider {
      background-color: $info-color;

      &:before {
        -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
        transform: translateX(22px);
      }
    }
    &:focus + .c-checkbox-switch__slider {
      box-shadow: 0 0 1px $info-color;
    }
  }

  .c-checkbox-switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $disabled-color;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: $primary-color;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.c-checkbox-switch__slider--round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  //-------------//
  //    Sizes    //
  //-------------//
  &.c-checkbox-switch--lg {
    width: 60px;
    height: 34px;
    line-height: 34px;

    input:checked + .c-checkbox-switch__slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .c-checkbox-switch__slider:before {
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px
    }
  }
  &.c-checkbox-switch--sm {
    width: 40px;
    height: 22px;
    line-height: 22px;

    input:checked + .c-checkbox-switch__slider:before {
      -webkit-transform: translateX(21px);
      -ms-transform: translateX(21px);
      transform: translateX(21px);
    }

    .c-checkbox-switch__slider:before {
      height: 13px;
      width: 13px;
      left: 3px;
      bottom: 5px
    }
  }

  //--------------//
  //    Colors    //
  //--------------//
  &.c-checkbox-switch--success input {
    &:checked + .c-checkbox-switch__slider {
      background-color: $success-color;
    }
    &:focus + .c-checkbox-switch__slider {
      box-shadow: 0 0 1px $success-color;
    }
  }
}

.c-input-rounded {
  border-radius: 15px;
  border: none;
  padding: 0 10px 3px;
  margin: 0 10px;

  &.c-input-rounded--sm {
    height: 22px;
  }
}

//-------------------//
//    Label sizes    //
//-------------------//
.c-label--sm {
  font-size: $font-sm;
}
.c-label--lg {
  font-size: $font-lg;
}


