.invoice-table {
	.select-dropdown {
		color: white;
	}
	th div span {
		margin-bottom: 0px;
	}
	td {
		vertical-align: middle;
		.invoice-link{ 
			cursor: pointer;
			white-space: nowrap;
		}
		
		&.invoice-date {
			white-space: nowrap;
		}
	}
	th:last-child,
	td:last-child {
		width: 30%;
		text-align: justify
	}

	.invoice_table-input {
		margin-left: 0.5rem;
		height: 2rem;
		margin-top: 15px;
	
		&.invoice_table-input-sm {
			max-width: 70px;
			min-width: 50px;
			margin-right: 15px;
		}
	
		&.invoice_table-input-lg {
			width: auto;
		}
		&.invoice_table-input--white {
			color: white;
		}	
	}
	.invoice_table-select {
		margin-top: 15px;
		width: inherit;
		height: auto;
		color: white;
	}
	
	.invoice_table-btn {
		border: none;
		border-radius: 5px;
		cursor: pointer;
		padding: 4px 8px;
		margin:0px 2px;	
		background-color: $secondaryColor;
		color: $inverse-color;
	}
	.pagination-handler{
		margin: 15px 0;
		display: flex;
		align-items: center;
		.select-wrapper {
			display: inline-block;
		}	

		.select-dropdown {
			color: black;
			width: 30px;
		}
		input.select-dropdown.dropdown-trigger{
			margin: 0px;
			padding-left: 10px;
			height: 3rem;
			width: 70px;
		}
		.invoice_table-input{
			margin: 0px;
			padding-left: 10px;
		}
	}
	.col .select-wrapper .select-dropdown.dropdown-trigger {
		height: 3rem;		
	}
	.invoice_table-checkbox-wrapper {
		display: flex;
		padding:5px;
		justify-content: center;
		align-items: center;
	
		.invoice_table-checkbox {
			opacity: 1;
			pointer-events: auto;
		}
	}
	
	.input-field {
			position: inherit; 
			margin-top: 0; 
			margin-bottom: 0;
	}
	
	.pagination-handler--collapsed{
		display: none;
	}

	@media (max-width: $brakpoint-md - 1) {
		.invoice_table-input--hidden,
		.invoice_table-select--hidden,
		.select-dropdown,
		.select-wrapper,
		th:last-child,
		td:last-child,
		.pagination-handler{
			display: none;
		}

		.pagination-handler--collapsed{
			display: inline;
		}
	}
}

