//------------------------//
//    Dashboard layout    //
//------------------------//

.c-layout-dashboard {
  display: grid;
  grid-template-areas: 
    "aside header"
    "aside main"
    "footer footer"
  ;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 65px 1fr 50px;
  min-height: 100vh;

  @media (max-width: $brakpoint-lg - 1) {
    grid-template-columns: 100px 1fr;
  }

  @media (max-width: $brakpoint-md - 1) {
    grid-template-areas: 
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr 50px;
  }

  .c-layout-dashboard__header {
    grid-area: header;
    box-shadow: 0px 2px 4px #bdbdbd;
    box-sizing: border-box;
    z-index: 1;
  }
  .c-layout-dashboard__aside {
    grid-area: aside;
    background-color: white;
    z-index: 2;
  }
  .c-layout-dashboard__main {
    grid-area: main;
    background-color: #f4f4f4;
    padding: 30px;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }
  .c-layout-dashboard__footer {
    background-color:&info-color;
    grid-area: footer;
    display: grid;
    justify-content:center;
    align-items: center;
  }
}

//----------------------------//
//    Right Sidebar layout    //
//----------------------------//

.c-layout-right-sidebar {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: $base-spacing * 2;
}