//Just for show section limits
.c-main-container * {border: 1px solid orange}

.c-main-container {
    grid-area: body-main;
    grid-template-rows: 90px 5fr;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
        "main-body main-panel-header"
        "main-body  main-panel-body";
    margin-top: $base-spacing;
    margin-right: $base-spacing;
    border:3px solid $terciaryColor;

    .c-main-body {
        grid-area:main-body;    
        padding: $base-spacing; 
    }
    
    .c-main-panel-header {
        grid-area: main-panel-header;  
        display: flex;
        justify-content: center;
        align-items: center;   
        padding: $base-spacing; 
  
        .c-main__btn {
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            align-items: center;
            padding: $base-spacing;
            height: 60px;
            width: 60px;
            font-size: 1.5rem;
            margin: 0px $base-spacing/2;
            background-color: $terciaryColor;
            color:white;         
           
            .c-main__btn-element:last-child {
                font-size: 0.7rem;
                margin:5px;   
            }
        }
    }

    .c-main-panel-body {
        grid-area:main-panel-body;
        padding: $base-spacing; 
    }   
}

