.c-modal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    padding: 15px;
    z-index: 10;
    top: -100px;
    position: relative;
  }

  .modal-bg {
    background: #89898978;
    opacity: .5;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
}