.c-navbar {
  padding: 0 15px;
}

.c-navbar__logo {
  height: 65px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
}
.c-navbar__logo-img {
  height: 0;
  background-image: url("../../img/logo.png");
  background-size:contain;
  background-repeat: no-repeat;
  padding-top: 13%;
  background-position: center;
}
.c-nav__item {

  &:hover {
    background-color: $hover-color;
  }

  &.c-nav__item--active {
    background-color: $hover-color;

    &:hover {
      background-color: darken($hover-color, 5%);
    }
  }

  .material-icons {
    font-size: 25px;
  }

  .c-nav__item-link {
    padding: 19px;

    &.active {
      background-color: $hover-color;
    }
  }
}

.c-sidenav__trigger {
  margin-right: $base-spacing;
  cursor: pointer;

  .material-icons {
    font-size: 30px;
  }
}