.c-nav {
     grid-area:body-nav;
     padding: 0 $base-spacing;
     background: $secondaryColor;

    .c-nav__menu {
        display: flex;
        align-content:baseline;  
        list-style-type: none; 

        .c-nav__logo {
            align-self:center;   
            height: 60px;
            padding: $base-spacing 0px;
        }

        .c-nav__item {
            align-self:center; 
            &.c-nav__item:not(:last-child) {
                margin-right: $base-spacing * 3;          
            }
        }

        .c-nav__item--push-left{
        margin-left: auto;
        }

        .c-nav__user-name {
        margin-left: $base-spacing;
        } 
    }
}




