.c-sidebar {
    grid-area: body-aside;
    flex-direction: column;
    margin-top: $base-spacing;
    padding-left: $base-spacing;  
    
    .c-sidebar__tab-outer{
        background-color: transparent;
        width:105px;
        height:90px;
        margin-bottom: $base-spacing;
        pointer-events: none;
            &:hover {
            background-color: $terciaryColor;
            }
            
            .c-sidebar__tab-inner{
                display: flex;
                flex-direction: column;
                justify-content:space-between;
                align-items: center;
                padding: $base-spacing;
                width:90px;
                height:90px;
                font-size: 2.2rem;
                pointer-events: auto;
                background-color: $secondaryColor;
                color:white;                             
           
                .c-sidebar__tab-element:last-child {
                    font-size: 1rem;
                    margin:10px;   
            }
        }                          
    }
}        







