

.c-table {
    th, td {
    padding: 5px 10px;
    height: 20px;
    vertical-align: baseline;     
  }

  &.c-table--bordered {
    border: 1px solid #c4c4c4;
  }

  &.c-table--striped {
    tr:nth-child(odd) td {
      background-color: $hover-color;
    }
  }

  &.c-table--info {
    thead > tr {
      background-color: $secondaryColor;
      color: $inverse-color;
    }
  }
}