body {
  font-family: $base-font-family;
  min-height: 100vh;
  color: $primary-color;
  position: relative;
}

p {
  font-size: $base-font-size;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: $primary-color;
}

input {
  height: $base-spacing * 2;
  color: $primary-color;
}

label {
  font-size: $base-font-size;
}

table {
  width: 100%;

  thead > tr > th {
    text-align: left;
    border-radius: 0;
  }
}