.userServiceItem {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;

  .input-field, .c-form__input-group {
    flex: auto;
    margin-right: 30px;
    min-width: 100px;
  }

  .u-btn-info {
    margin-right: 5px;
  }

  .reload-service.material-icons {
    margin-left: 7px;
    font-size: 30px;
    position: relative;
    top: 10px;
    cursor: pointer;
    transition: 1s;
    transform: none !important;

    &:hover {
      -o-transform: rotate(720deg) !important;
      -ms-transform: rotate(720deg) !important;
      -moz-transform: rotate(720deg) !important;
      -webkit-transform: rotate(720deg) !important;
      transform: rotate(720deg) !important;
    }
  }
}