.NotificationsIcon {
  position: relative;

  .notifications-badge {
    position: absolute;
    top: 16px;
    right: 14px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 50%;
  }
}
.Notifications {
  width: 300px !important;

  li {
    cursor: auto !important;
  }

  .NotificationsPanel {
    padding: 14px 16px;
    background-color: white;

    h1 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
    }

    li {
      margin-bottom: 10px;

      &:hover {
        background-color: white;
      }

      p {
        margin: 0;
        font-size: 16px;
        line-height: 18px;
      }
      span {
        padding: 0;
        font-size: 12px;
        text-align: right;
      }
    }
  }
}